.user-field {
  font-size: 22px;
  text-align: center;
  padding-bottom: 30px;
}
.btns {
  display: flex;
  justify-content: center;

  button {
    margin: 10px;
  }
}
.button {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #59460c;
  border-radius: 6px;
  padding: 5px 15px;
  border: none;
  border-bottom: solid 1px #59460c;
  transition: all 0.5s ease;
  cursor: pointer;
  background-color: #fbaf55;
  box-shadow: 2px 2px 2px rgba(89, 70, 12, 0.9);

  &:hover {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
  }

}
